<nav>
    <a routerLink = "/module1/first" routerLinkActive="active">Mod1-First</a>
    <a routerLink = "/module1/second" routerLinkActive="active">Mod1-Second</a>
    <a routerLink = "/module2/first" routerLinkActive="active">Mod2-First</a>
    <a routerLink = "/module2/second" routerLinkActive="active">Mod2-Second</a>
    <a routerLink = "/module3/first" routerLinkActive="active">Mod3-First</a>
    <a routerLink = "/module3/second" routerLinkActive="active">Mod3-Second</a>

</nav>
<router-outlet></router-outlet>
